.searchBar  input {
    width: 90%;
    border-radius:10px;
    font-size: 0.9em;  
    padding-top: 0.35rem;
    font: inherit;
    height: 100%;
}

.searchBar  input[type=text]:focus {
    background-color: rgb(10, 208, 76);
}

.searchBar button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(10, 208, 76);
    border: 1px solid black;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
}

.searchBar button:hover,
.searchBar button:active {
    background-color: rgb(10, 208, 76);
    border-color: #5a1a01;
    color: white;
}