.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18rem;
    border: 1px solid black;
    overflow:hidden;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text {
    width: auto;
    height: 100%;
    padding: 10%;
    background-color: rgb(128, 255, 212);
    border-top:1px solid black;
}

img {
    width:100%;
    height: auto;
}

.smallText {
    font-size: small;
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-top:0px;
}